@import "variables";

//LOGIN Start

#mainContent {
  padding-top: 100px;
  .bredcrumb-wrapper {
    padding: 13px 0 13px;
    color: $text-color;
    background-color: $background-color;
    .bredcrumb {
      list-style: none;
      display: flex;
      font-size: $font-size-seccond;
      font-family: $font-family;
      .bredcrumb-item {
        color: $text-color;
        a {
          color: $text-color;
        }
        span {
          padding: 0 5px;
        }
      }
    }
  }
  .container {
    .section-header {
      margin-bottom: 100px;
      h2 {
        padding-left: 35px;
        font-weight: 700;
        font-family: $font-family;
        font-size: 30px;
      }
    }

    .row {
      .form-vertical {
        padding: 100px 40px;

        h3 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 20px;
          font-family: $font-family;
          font-style: normal;
          font-weight: 600;
        }
        p {
          margin-bottom: 35px;
          line-height: $line-height;
          color: $text-color;
          font-size: $font-size-seccond;
          font-family: $font-family;
          font-style: normal;
          font-weight: 400;
        }
        #customer-login {
          label {
            font-weight: $font-weight;
            font-size: $font-size-seccond;
            text-transform: capitalize;
            font-family: $font-family;
          }
          #email {
            width: 100%;
            height: 50px;
          }
          .fas {
            width: 18px;
            height: 18px;
            background-color: #dc3545;
            color: $background-color;
            border-radius: 50%;
            padding: 2px 6px;
            display: none;
          }
        }
        .text {
          color: $text-color;
          font-size: $font-size-seccond;
          font-family: $font-family;
        }
        .btn {
          color: $background-color;
          border-color: $secondary_color;
          background-color: $secondary_color;
          padding: 10px;
          width: 100%;
          margin-bottom: 20px;
          &:hover {
            background-color: #0f726f;
          }
        }
        .btn-primary {
          padding: 10px;
          width: 100%;
          color: $background-color;
          border-color: #e13f3f;
          background-color: #e13f3f;
          &:hover {
            background-color: #9e2a36;
          }
        }
        .recower-password {
          a {
            color: $text-color;
            font-size: $font-size-seccond;
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
          }
          span {
            color: $text-color;
            font-size: $font-size-seccond;
            font-family: $font-family;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }
    .wrapper {
      background-color: #fafafa;
      .new-customer-wrapper {
        padding: 100px 0px 100px 20px;

        h3 {
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 20px;
          font-family: $font-family;
          font-style: normal;
          font-weight: 600;
        }
        p {
          margin-bottom: 35px;
          line-height: $line-height;
          color: $text-color;
          font-size: $font-size-seccond;
          font-family: $font-family;
          font-style: normal;
          font-weight: 400;
        }
        #register-form {
          label {
            font-weight: $font-weight;
            font-size: $font-size-seccond;
            text-transform: capitalize;
            font-family: $font-family;
          }
          #text {
            width: 100%;
            height: 50px;
          }
          #text {
            width: 100%;
            height: 50px;
          }
          #email {
            width: 100%;
            height: 50px;
          }
          #pass {
            width: 100%;
            height: 50px;
          }
          .btn {
            color: $background-color;
            border-color: $secondary_color;
            background-color: $secondary_color;
            padding: 10px 40px;
            &:hover {
              background-color: #0f726f;
            }
          }
        }
      }
    }
  }
}
