#mainContent {
  padding-top: 100px;
}

#mainContent .bredcrumb-wrapper {
  padding: 13px 0 13px;
  color: #787878;
  background-color: #fff;
}

#mainContent .bredcrumb-wrapper .bredcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

#mainContent .bredcrumb-wrapper .bredcrumb .bredcrumb-item {
  color: #787878;
}

#mainContent .bredcrumb-wrapper .bredcrumb .bredcrumb-item a {
  color: #787878;
}

#mainContent .bredcrumb-wrapper .bredcrumb .bredcrumb-item span {
  padding: 0 5px;
}

#mainContent .container .section-header {
  margin-bottom: 100px;
}

#mainContent .container .section-header h2 {
  padding-left: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

#mainContent .container .row .form-vertical {
  padding: 100px 40px;
}

#mainContent .container .row .form-vertical h3 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

#mainContent .container .row .form-vertical p {
  margin-bottom: 35px;
  line-height: 24px;
  color: #787878;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#mainContent .container .row .form-vertical #customer-login label {
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

#mainContent .container .row .form-vertical #customer-login #email {
  width: 100%;
  height: 50px;
}

#mainContent .container .row .form-vertical #customer-login .fas {
  width: 18px;
  height: 18px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  display: none;
}

#mainContent .container .row .form-vertical .text {
  color: #787878;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

#mainContent .container .row .form-vertical .btn {
  color: #fff;
  border-color: #17a8a3;
  background-color: #17a8a3;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

#mainContent .container .row .form-vertical .btn:hover {
  background-color: #0f726f;
}

#mainContent .container .row .form-vertical .btn-primary {
  padding: 10px;
  width: 100%;
  color: #fff;
  border-color: #e13f3f;
  background-color: #e13f3f;
}

#mainContent .container .row .form-vertical .btn-primary:hover {
  background-color: #9e2a36;
}

#mainContent .container .row .form-vertical .recower-password a {
  color: #787878;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#mainContent .container .row .form-vertical .recower-password span {
  color: #787878;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#mainContent .container .wrapper {
  background-color: #fafafa;
}

#mainContent .container .wrapper .new-customer-wrapper {
  padding: 100px 0px 100px 20px;
}

#mainContent .container .wrapper .new-customer-wrapper h3 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

#mainContent .container .wrapper .new-customer-wrapper p {
  margin-bottom: 35px;
  line-height: 24px;
  color: #787878;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form label {
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form #text {
  width: 100%;
  height: 50px;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form #text {
  width: 100%;
  height: 50px;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form #email {
  width: 100%;
  height: 50px;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form #pass {
  width: 100%;
  height: 50px;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form .btn {
  color: #fff;
  border-color: #17a8a3;
  background-color: #17a8a3;
  padding: 10px 40px;
}

#mainContent .container .wrapper .new-customer-wrapper #register-form .btn:hover {
  background-color: #0f726f;
}
